ul{
    padding: 0;
}
li{
    list-style:circle;
    text-transform: capitalize;
    margin: 1rem;
}

li:hover{
    cursor: pointer;
    list-style: none;
    font-weight: bold;
}

button:hover{
cursor: pointer;
}
